In [2]:
import pandas as pd
import numpy as np 

pd.set_option('display.max.columns', 200)

In [3]:
df = pd.read_csv('fcc-forum-pageviews.csv')

In [4]:
df

            date   value
0     2016-05-09    1201
1     2016-05-10    2329
2     2016-05-11    1716
3     2016-05-12   10539
4     2016-05-13    6933
...          ...     ...
1299  2019-11-29  171584
1300  2019-11-30  141161
1301  2019-12-01  142918
1302  2019-12-02  220144
1303  2019-12-03  158549

[1304 rows x 2 columns]